.basic-button {
  background-color: var(--blue-2) !important;
  color: #e0e1dd !important;
  border: none;
  padding: 10px 20px;
  border-radius: 15px !important;
  cursor: pointer;
  transition: 0.3s ease-in-out !important;
  margin: 5px !important;

}

.basic-button:hover {
  background-color: var(--blue-15) !important;
  box-shadow: 0 2px 10px 0 var(--blue-25) !important;
  transform: translate(0px, 2px);
}

.basic-button:active {
  background-color: var(--blue-3) !important;
  box-shadow: 0 1px 2px 0 var(--white) !important;
  transform: translate(0px, 1px);
}

.icon-button {
  background-color: var(--blue-2) !important;
  color: #e0e1dd !important;
  border: none;
  padding: 10px 20px;
  border-radius: 50% !important;
  cursor: pointer;
  transition: 0.3s ease-in-out !important;
}