.basic-button {
  background-color: var(--blue-2) !important;
  color: #e0e1dd !important;
  padding: 10px 20px !important;
  transition: 0.3s ease-in-out !important;
  width: 100%;
}

.basic-button:hover {
  background-color: var(--blue-25) !important;
  transform: translate(0px, 0px);
}

.basic-button:active {
  background-color: var(--blue-3) !important;
}

.icon-button {
  background-color: var(--blue-2) !important;
  color: #e0e1dd !important;
  border: none;
  padding: 10px 20px;
  border-radius: 50% !important;
  cursor: pointer;
  transition: 0.3s ease-in-out !important;
}