.footer {
    background-color: var(--blue-2);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 5rem;
}